body{
    width: 1920px;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 3000px;
}
.background{
    width: 1920px;
    height: 225px;
    background-color: rgb(179, 174, 174);
}
.header-content{
    width: 980px;
    height: 225px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 350px;
    height: 100px;
    display: flex;
    margin-top: 60px;
    
}
.logo-img{
    width: 100px;
    height: 100px;
    background-color: rgb(82, 80, 80);

    
}
.company-name{
    width: 200px;
    margin-left: 20px;
}
.name{
    font-size: 26px;
    font-weight: bold;
    color: rgb(82, 80, 80);
}
.description{
    color: rgb(82, 80, 80);
}
.telephone{
    width: 300px;
    height: 100px;
    margin-top: 60px;
    font-size: 34px;
}
.tel-number1 a,.tel-number2 a{
    color: rgb(82, 80, 80);
}
.tel-number1 a:hover{
    color:white;
    text-decoration: none;
}
.tel-number2 a:hover{
    color: white;
    text-decoration: none;
}
.bg-form{
    background: url(bg.jpg);
    height: 495px;
    width: 1920px;
}

.form-content{
    width: 980px;
    height: 495px;
    margin: 0 auto;
    
}

.form{
    width: 355px;
    height: 278px;
    background-color: #9da3d7;
    position: absolute;
    margin-left: 100px;
    margin-top: 110px;
    margin-top: 110px;
}
.form div input{
    width: 35px;
}
.form div{
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 30px;
    
}
.form .left-tel{
    margin-left: 5px;
}

.form div button{
    width: 290px;
    height: 50px;
    background-color: rgb(255, 192, 135);
    border: none;
    font-weight: bold;
    font-size: 22px;
}
.form div input{
    width: 282px;
    height: 50px;
}
.form-text{
    position: absolute;
    margin-top: 75px;
    margin-left: 165px;
    font-size: 22px;
    color: #9da3d7;
}

.left-tel{
    color: white;
    font-size: 22px;
    text-align: center;
}
.carousel{
    margin: 0 auto;
    width: 690px;
    height: 290px;
    
}
.carousel-border{
    margin: 0 auto;
    width: 704px;
    height: 304px;
    border: 7px solid white;
    box-shadow: 0 0 15px grey;
}
.text-slider{
    margin: 0 auto;
    width: 720px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: #9da3d7;
    font-weight: bold;
}
.simple-text-block{
    margin: 0 auto;
    width: 720px;
    height: 50px;
    font-size: 26px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    margin-top: 90px;
}
.simple-text{
    width: 980px;
    margin: 0 auto;
    font-size: 19px;
    text-align: justify;
    margin-top: 40px;
}
.calculator-text{
    margin: 0 auto;
    width: 720px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    color: #9da3d7;
    font-weight: bold;
    margin-top: 75px;
}

.cards{
    margin: 0 auto;
    margin-top: 60px;
    width: 980px;
    height: 185px;
    display: flex;
    justify-content: space-between;
}
.card-text{
    margin: 0 auto;
    margin-top: 60px;
    width: 980px;
    display: flex;
    justify-content: space-around;
}
.card1 div,.card2 div,.card3 div{
    margin-top: 80px;
    text-align: center;
}
.card4 div,.card5 div{
    margin-top: 15px;
    text-align: center;
}
h5{
    text-align: justify;
}